/* forums */
/*.pledge_button_signed, .pledge_button {display:none!important}
*/
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
	font-weight: 400;
	line-height: 1;
	color: white;
}
a, a:visited {
    color: black;
    outline: none;
}.skip-link {
    background: black;

}
.btn.btn-default.btn-sm {
	margin: -5px 0;
	font-size: 18px;
}

.label a, .label a:visited, button a {
	color: white;
	outline: none;
}
.label-danger a, .label-danger a:visited{
	color: black
}

video#bgvid { 
  
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover; 
}

video { display: block; }
.header{background:black;
position: fixed;
    width: 100%;
	z-index: 9998;}

.thelist{background-color:rgba(0, 0, 0, 0.3);}

@font-face {
    font-family: 'league_gothicregular';
    src: url('fonts/leaguegothic/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/leaguegothic/leaguegothic-regular-webfont.woff2') format('woff2'),
url('fonts/leaguegothic/leaguegothic-regular-webfont.woff') format('woff'),
url('fonts/leaguegothic/leaguegothic-regular-webfont.ttf') format('truetype'),
url('fonts/leaguegothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@charset "UTF-8";
/* CSS Document */

body {

	background:rgba(0, 0, 0, 0) url("/Photo/418457114926")no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover !important
	
}
/* Hightlight Color */

.camera_next:hover > span,
.camera_prev:hover > span, .modal-header .close:hover, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, footer .col-sm-6 li.foot_phone, footer li a i.fa, .socials a i:hover, .copyright a:hover, #list-view.active, #grid-view.active, .box-currency .dropdown-menu button:hover, .button-view button:active, .nav-justified li, a:hover, a:focus, #cart .price-cart, #menu .nav > li > a:hover, .btn-link:focus, .button-view button:focus, #top-links a:hover, #top-links li a:hover i, .phone i, #search button:hover i, #top-links li a.active i, #search button:active, .box-cart .btn-danger:active, #cart .total td, .box-cart .btn-danger:focus, .box-cart .btn-danger:hover, #search button:hover, #top-links li a.active, .button-view button:hover, .box-language .open .dropdown-toggle, .box-currency .open .dropdown-toggle, .box-language .dropdown-toggle:hover, .box-currency .dropdown-toggle:hover, .price-section span.price-new, #product h3, .product-section span, .review-form-title h3:hover, .box_html.events b, .box_html.advertising .color-1, .banners>div .s-desc h2, .box-category .menu li li a:hover, .box-category .menu li a+i:hover, .sale .product-section a, .box.info .box-content ul li a i, .box-category .menu li li a:hover, #tm_menu div> ul > li ul > li > a:hover, #tm_menu div> ul > li ul > li.active > a, #tm_menu div> ul > li ul > li.sfHover > a, #tm_menu div> ul > li > ul li i {
	color: #E56B2B;
}
#menu-icon, .dropdown-menu li > a:hover, ul.soc-icon li i, .box-right-bottom a:hover, .btn, .btn-danger, .btn-primary, .btn-info, .btn-default, .sale, .banners>div div.banner-box:hover .s-desc span, .box_html.events i, #default_gallery .image-thumb .bx-wrapper .bx-prev:hover, #default_gallery .image-thumb .bx-wrapper .bx-next:hover, a.quickview:hover, .swipe ul li a:hover, .homenav li, .camera_caption a, #tm_menu div> ul > li > a:before, #menu-icon {
	background-color: #fbbe5d;
    color: black;
    text-transform: uppercase;
}
.btn.btn-icon:hover {
	background-color: #E56B2B;
	border-color: #E56B2B;
}
#default_gallery .image-thumb img:hover, #default_gallery .image-thumb .active img {
	border-color: #47c7de
}
.box-subcat li .image:hover {
	border: 5px solid #E56B2B;
}


.media-object{
	width:100px

}
.pledge {
	margin-top: 0px;
	margin-right: 10px;
	position: relative;
	float: right;
}
/* END Colors */

@media (min-width: 768px) {
	.pledge {
	margin-top: -255px;
	margin-right: 10px;
	position: relative;
	float: right;
}
	
.media-object{
	width:200px
}
#logo img {
	height:100%
	
}

}

@media (min-width: 480px) {

#page{
padding-top: 270px;
	
}

.common-home #page{
	padding-top:0px
}

#logo  .col-sm-4 {
  width: 33.3333%;
   float: left;
    text-align: left;
}

#logo  .col-sm-3 {
  width: 25%;
   float: left;
    text-align: left;
}

#logo .col-sm-5 {
 width: 41.6667%;
  float: left;
    text-align: left;
}
}


