/* thank you, http://www.fontsquirrel.com, for making this possible. */

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('League_Gothic-webfont.eot');
	src: 
 url('League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
 url('League_Gothic-webfont.woff') format('woff'),
 url('League_Gothic-webfont.ttf') format('truetype'),
 url('League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RalewayThin';
	src: url('raleway_thin-webfont.eot');
	src: 
 url('raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
 url('raleway_thin-webfont.woff') format('woff'),
 url('raleway_thin-webfont.ttf') format('truetype'),
 url('raleway_thin-webfont.svg#RalewayThin') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** body text **/
@font-face {
	font-family: 'Vera';
	src: url('Vera-webfont.eot');
	src: 
 url('Vera-webfont.ttf') format('truetype'),
 url('Vera-webfont.woff') format('woff'),
 url('Vera-webfont.svg#webfontEgnkmm0a') format('svg'),;
}
/** level1head **/
@font-face {
	font-family: 'Tandelle';
	src: url('tandelle_regular-webfont.eot');
	src: 
 url('tandelle_regular-webfont.ttf') format("truetype"),
 url('tandelle_regular-webfont.woff') format('woff'),
 url('tandelle_regular-webfont.svg#webfontEgnkmm0a') format('svg');
}
/** top nav **/
@font-face {
	font-family: 'Rock';
	src: url('Rokkitt-webfont.eot');
	src:
 url('Rokkitt-webfont.ttf') format('truetype'),
 url('Rokkitt-webfont.woff') format('woff'),
 url('Rokkitt-webfont.svg#webfontEgnkmm0a') format('svg');
}
/** header slogan **/
@font-face {
	font-family: 'ChunkFive';
	src: url('Chunkfive-webfont.eot');
	src: 
 url('Chunkfive-webfont.ttf') format('truetype'),
 url('Chunkfive-webfont.woff') format('woff'),
 url('Chunkfive-webfont.svg#webfontEgnkmm0a') format('svg');
}
